.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* A Media Query */
@media (min-width: 768px)
{
	html, body{
	    font-size: 18px;
	}
    #myCarousel h1, h2{
      display: show;
    }
	h1 {
	  margin-top: 20;
	  font-size: 30px;
	}

	h2{
	  text-align: center;
	  margin-bottom: 40px;
	  font-size:40px;
	}

  #article-data h3{
    font-size: 20px;
  }
  #article-data img{
    display: block;
    width:100%;
  }
}
